.cardContainer{
    /* margin-left: 20px; */
        position: relative;
        width: 320px;
        height: 350px;
        /* background: cornflowerblue; */
        background: white;
        margin-top: 24px;
        border-radius: 14px;
}

.cardContainer:hover{
  transform: translateY(-3px)
}

.imgStyle{
    position: relative;
    width: 320px;
    height: 220px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.itemName{
    position: relative;
    margin-left: 20px;
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
      font-style: normal;
      font-weight: 600;
}

.subcategorytitle{
  padding-left: 20px;
  color: white;
      padding-top: 24px;
      font-size: 20px;
      font-family: sans-serif;
      font-style: normal;
      font-weight: 600;
      position: relative;
}

.card{
      /* margin: 0 auto; */
      display: flex;
      column-gap: 20px;
      flex-wrap: wrap;
      width: 1030px;
      position: relative;
      margin: auto;
      /* height: 400px; */
}