.footerContainer{
    position: relative;
    /* height: 150px; */
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-family: sans-serif;
    /* margin: 0 auto; */
    padding: 50px;
    font-weight: bold;
}