.horizontalLine{
        margin-left: 20px;
        width: 81%;
}

.menubar{
    position: relative;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* padding: 30px 30px; */
    column-gap: 30px;
    column-gap: 5;
    margin-bottom: 38px;
    /* margin-top: 50px; */
    }
    
    .menubarButton{
        border: none;
        border-radius: 5px;
        color: black;
        width: 300px;
        height: 300px;
        margin-top: 70px;
        background: white;
        box-shadow: 5px 10px 29px 0 rgb(68 88 144 / 20%);
    transition: all 0.3s ease-in-out;
    }

    .menubarButton:hover{
        transform: translateY(-3px)
    }

    .centerImage{
        margin: 0 auto;
    /* align-content: center; */
    /* text-align: center; */
    width: 250px;
    height: 200px;
    background: chocolate;
    margin-top: -30px;
    border-radius: 5px;
    box-shadow: 5px 10px 29px 0 rgb(68 88 144 / 20%);
    }

    .dashboardImage{
        background-image: url("E:\react app\sirudhaniyam-web\src\components\Assets\green.jpg");
    }